body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, rgb(32, 148, 32), rgb(3, 103, 3));
}
h1 {
  text-align: center;
  color: white;
}
